@model GAbsence.Models.Grade

<div class="container">
    <h1>Ajouter un grade</h1>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="CodeGrade" class="control-label">Code du grade</label>
            <input asp-for="CodeGrade" class="form-control" />
            <span asp-validation-for="CodeGrade" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Libelle" class="control-label">Nom du grade</label>
            <input asp-for="Libelle" class="form-control" />
            <span asp-validation-for="Libelle" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <input type="submit" value="Enregistrer" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 